nav {
    margin: 27px auto 0;
    position: relative;
    width: 310px;
    height: 50px;
    background-color: #abc46e;
    border-radius: 8px;
    font-size: 0;
}

/*#697900  */
/*#abc46e */
/*#286100*/
.rejected {
    color: #e74c3c;
}

.accepted {
    color: chartreuse;
}

a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
    background-color: #697900;
}

nav .start-about, a:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}

nav .start-blog, a:nth-child(3):hover ~ .animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #abc46e;
}

h1, h4 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
}

button {
    margin: 27px auto 0;
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #abc46e;
    border-radius: 8px;
    font-size: 0;
}

i {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 12px;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;;
}

.card {
    background-color: #697900;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 17px;
    width: 40%;
    line-height: 30px;
    height: 50%;
    font-size: 14px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.cards {
    text-align: center;
    position: center;
    margin: 27px auto 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.buttons {
    display: inline;
}

.container {
    padding: 2px 16px;
}

form {
    display: inline;
    width: 30%;
}

span {
    color: #2BD6B4;
}
