<section>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 th:if="${product== null} " >Add new product</h1>
            <h1 th:if="${product!= null} ">Edit product</h1>
            <form action="/products/add" method="POST">
                <input id="id" type="hidden" name="id" th:value="(${product} != null ? ${product.getId()} : '')">
                <div class="form-group">
                    <label for="name">Product name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${product} != null ? ${product.getName()} : '')"
                           required
                           placeholder="Enter product name">
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number"
                           class="form-control"
                           id="price"
                           name="price"
                           th:value="(${product} != null ? ${product.getPrice()} : '')"
                           placeholder="Price">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number"
                           class="form-control"
                           id="quantity"
                           name="quantity"
                           th:value="(${product} != null ? ${product.getQuantity()} : '')"
                           placeholder="Quantity">
                </div>

                <div class="form-group">
                    <label for="quantity">Description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           th:value="(${product} != null ? ${product.description} : '')"
                           placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="quantity">Image</label>
                    <input type="url"
                           class="form-control"
                           id="image"
                           name="img"
                           th:value="(${product} != null ? ${product.img} : '')"
                           placeholder="Image">
                </div>
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-dark" href="/products">Back</a>
            </form>
        </div>
    </div>
</div>
</section>
