<!--
<section>
<div class="cards">
    <div th:each="naracka : ${orders}" class="card">
        <div class="container">
            <h4 th:text="${naracka?.getId()}"><b></b></h4>
            <table>
                <tr th:each="product: ${naracka?.getProducts()}">
                    <td th:text="${product.getName()}">name</td>
                    <td th:text="${product.getQuantity()}">quantity</td>
                    <th:block>
                        <form th:action="@{'/orders/delete/product/{productId}/{orderId}' (productId=${product.getId()}, orderId=${naracka?.getId()})}"
                              th:method="POST">
                            <button type="submit"
                                    class="btn btn-sm btn-danger delete-product">
                                <i class="fa fa-trash">Remove from order</i>
                            </button>
                        </form>
                    </th:block>
                </tr>
            </table>
            <div class="accepted">
                <h5 th:if="${naracka?.getAccepted()}">This order has been accepted</h5>
            </div>
            <div class="rejected">
                <h5 th:if="${naracka?.getRejected()}">This order has been rejected</h5>
            </div>
            <div class="buttons">
                <form th:action="@{'/orders/delete/{id}' (id=${naracka?.getId()})}"
                      th:method="POST">
                    <button type="submit"
                            class="btn btn-sm btn-danger delete-product">
                        <i class="fa fa-trash">Delete</i>
                    </button>
                </form>
                <form th:action="@{'/orders/accept/{id}' (id=${naracka?.getId()})}"
                      th:method="POST">
                    <button type="submit"
                            class="btn btn-sm delete-product">
                        <i class="fa fa-trash">Accept Order</i>
                    </button>
                </form>
                <form th:action="@{'/orders/decline/{id}' (id=${naracka?.getId()})}"
                      th:method="POST">
                    <button  type="submit"
                            class="btn btn-sm delete-product">
                        <i class="fa fa-trash">Decline Order</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</section>-->

<section class="h-100" style="background-color: #eee;">

    <script>
        function func(id){
            document.getElementById(id).style.display="none";
            document.getElementById("zaEdit"+id).style.display="block";
        }
    </script>


    <div class="container">
        <div  class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">

                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">





            </div>
        </div>
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Cart</h3>
                </div>

                <div  th:each="naracka : ${orders}">
                <div th:each="product: ${naracka?.getProducts()}" class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">

                                <img th:src="${product.img}"
                                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                            </div>
                            <div class="col-md-4 col-lg-2 col-xl-2">
                                <p th:text="${product.getName()}" class="lead fw-normal mb-2">Basic T-shirt</p>
                                <p style="color: orangered"><span  th:text="${ 'Available: ' +product.getQuantity()}" class="text-muted"> </span> <span class="text-muted"> </span></p>
                                <p><span  class="mb-0">Price: <br> <span style="color: cadetblue" th:text="${product.getPrice()  + ' den.'}"></span></span></p>
                            </div>


                            <div class="col-md-3 col-lg-3 col-xl-2 ">
                                <h5  class="mb-0">Total: <br> <span style="color: red" th:text="${naracka?.cena  + ' den.'}" ></span></h5>

                            </div>

                            <div class="col-md-4 col-lg-3 col-xl-3 justify-content-end">

                                <form  th:action="@{'/orders/edit/{productId}/{narackaId}' (productId=${product.getId()}, narackaId=${naracka?.getId})}"
                                       th:method="GET"
                                       sec:authorize="isAuthenticated()">
                                <div style="display: none" th:id="${'zaEdit' + naracka?.getId()}" class="container">
                                    <div class="row">
                                        <div class="col-5">
                                            <input style="text-align: center" name="kolicina" value="0" height="5px"  class="form-control" id="ex1" type="text">

                                        </div>
                                        <div  class="col-7">
                                            <button style="height: 50px; width: 100%" type="submit"
                                                    class="btn btn-sm btn-primary">
                                                <i class="fa fa-trash">Edit</i>
                                            </button>

                                        </div>
                                    </div>
                                </div>

                                </form>
                                <button th:if="${naracka?.getStatus().name=='WAITING'}" th:id="${naracka?.getId()}"  th:attr="onclick=|func('${naracka.getId()}')|"
                                        class="btn btn-sm btn-info ">
                                    <i class="fa fa-trash">Edit</i>
                                </button>

                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">

                                <span th:text="${'Ordered: ' + naracka.quantity}" >qqq</span>
                                <span  th:if="${naracka?.getStatus().name=='TRUE'}" style="color: green"> Accepted!</span>

                                <span th:if="${naracka?.getStatus().name=='FALSE'}" style="color: red"> Declined!</span>
                                <form th:if="${naracka?.getStatus().name=='WAITING'}" th:action="@{'/orders/delete/product/{productId}/{orderId}' (productId=${product.getId()}, orderId=${naracka?.getId()})}"
                                      th:method="POST">
                                    <button   type="submit"
                                              class="btn btn-sm btn-danger delete-product">
                                        <i class="fa fa-trash">Delete</i>
                                    </button>
                                    <span style="color: orange"> Waiting...</span>
                                </form>


                            </div>

                        </div>
                    </div>
                </div>
                </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
