<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<table>
    <tr th:each="naracka : ${orders}" class="naracka">
        <td th:text="${naracka?.getId()}"></td>
        <td class="text-right">
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{'/orders/delete/{id}' (id=${naracka?.getId()})}"
                      th:method="POST">
                    <button type="submit"
                            class="btn btn-sm btn-danger delete-product">
                        <i class="fa fa-trash">Remove order</i>
                    </button>
                </form>
            </th:block>
        </td>
        <table>
            <tr th:each="product: ${naracka?.getProducts()}">
                <td th:text="${product.getName()}">name</td>
                <td th:text="${product.getQuantity()}">quantity</td>
                <th:block>
                    <form th:action="@{'/orders/delete/product/{productId}/{orderId}' (productId=${product.getId()}, orderId=${naracka?.getId()})}"
                          th:method="POST">
                        <button type="submit"
                                class="btn btn-sm btn-danger delete-product">
                            <i class="fa fa-trash">Remove product from this order</i>
                        </button>
                    </form>
                </th:block>
            </tr>
        </table>
    </tr>
</table>
<div class="col mb-3">
    <div class="row">
        <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/products" class="btn btn-block btn-dark add-product-btn">
                Return to products
            </a>
        </div>
    </div>
</div>
</div>
</body>
</html>