<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="mystyle.css">
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>AgroBerza</h1>
<nav>
    <a href="/products">Products</a>
    <a href="/orders">Orders</a>
    <a href="/profile">Profile</a>
    <div class="animation start-home"></div>

</nav>



<div class="cards">
    <div th:each="product : ${products}" class="card">
        <div class="container">
            <h4 th:text="${product.getName()}"><b></b></h4>
            <h3 th:text="${product.getPrice()}"></h3>
            <h3 th:text="${product.getQuantity()}"></h3>
            <div class="buttons">
                <form th:action="@{'/products/delete/{id}' (id=${product.getId()})}"
                      sec:authorize="hasRole('ROLE_ADMIN')"
                      th:method="POST">
                    <button type="submit"
                            class="btn btn-sm btn-danger delete-product">
                        <i class="fa fa-trash">Delete</i>
                    </button>
                </form>
                <form th:action="@{'/products/edit/{id}' (id=${product.getId()})}"
                      sec:authorize="hasRole('ROLE_ADMIN')"
                      th:method="GET">
                    <button type="submit"
                            class="btn btn-sm btn-danger delete-product">
                        <i class="fa fa-trash">Edit</i>
                    </button>
                </form>
                <form th:action="@{'/orders/add-product/{productId}/{userId}' (productId=${product.getId()}, userId=${user.getId})}"
                      th:method="GET"
                      sec:authorize="isAuthenticated()">
                    <button type="submit"
                            class="btn btn-sm btn-primary">
                        <i class="fa fa-trash">Add to order</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="container">
        <div class="" sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/products/add" class="btn btn-block btn-dark add-product-btn">
                Add new product
            </a>
        </div>
    </div>

    <div class="container">
        <div >
            <a href="/logout" class="btn btn-block ">
                LogOut
            </a>
        </div>
    </div>
</div>
</div>
</body>
</html>