
<section xmlns:th="http://www.w3.org/1999/xhtml" class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center  h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign up</h3>

                        <form method="post" action="/register">
                            <div class="form-outline mb-2">
                                <input name="username" type="text" id="typeEmailX-2" class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX-2">Username </label>
                            </div>

                            <div class="form-outline mb-2">
                                <input name="password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>

                            <div class="form-outline mb-2">
                                <input name="name" type="text" id="name" class="form-control form-control-lg" />
                                <label class="form-label" for="name">Name</label>
                            </div>

                            <div class="form-outline mb-2">
                                <input name="surname" type="text" id="surname"  class="form-control form-control-lg" />
                                <label class="form-label" for="surname">Surname</label>
                            </div>

                            <div class="form-outline mb-2">
                                <select  name="userCategory" class="selectpicker">
                                    <option VALUE="MERCHANT"> MERCHANT</option>
                                    <option VALUE="FARMER"> FARMER</option>
                                </select>
                            </div>



                            <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>




                        </form>
                        <hr class="my-4">




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
